<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.njk' %}
<body class="bg-green">
    {% include "partials/navigation.njk" %}
    
    {% block content %}
    {% endblock content %}
</body>
{% include "partials/footer.njk"%}
</html>