
<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.njk' %}
<body>
    {% include "partials/navigation.njk" %}
    <main class="u-container">
     {% block content %}
    {% endblock content %}
    </main>
{% include "partials/footer.njk"%}
<script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</body>
</html>
