{% extends "layouts/base.njk" %}

  {% block content%}

  <main >
    <div class="banner-color hero">
      <div class="wrapper center mw7 pa2 intro">
        <section class="">
          {{ content |safe }}
        </section>
      </div>
    </div>
    <section>
        <div class="wrapper center mw7 ma2">
        <h2>Latest posts</h2>
        {% for post in collections.posts %}
          {% include 'partials/article-list.njk' %}
        {% endfor %}
        </div>
    </section>
  </main>

{% endblock content%}
