{% extends "layouts/base.njk" %}

{% block content%}
<section class="intro">
      {{ content |safe }}
</section>

<section>  
  <h2>Latest posts</h2>
    {% for post in collections.posts %}
    {% if loop.index0 < 3 %}
      {% include 'partials/article-card.njk' %}
      {%endif%}
  {% endfor %}
</section>
{% endblock content%}
