{% extends "layouts/base.njk" %}

{% block content%}
<section class="intro">
      {{ content |safe }}
</section>

<section>  
  <h2>Latest posts</h2>
  {% for post in collections.posts %}
    {% include 'partials/article-card.njk' %}
  {% endfor %}
</section>
{% endblock content%}
