{% extends "layouts/base.njk" %}
  {% block content%}

  <main class="center mw7 ma2">
    <h1 class="f1 pa2">{{title}}:</h1>
      <section>
      {% for post in collections.til %}
        {% include 'partials/article-list.njk' %}
      {% endfor %}
    </section>
  </main>

{% endblock content%}
