---
"metadata": {  
  "url": "https://smcllw.me/",
  "author": {
    "name": "Sam (he/they)",
    "email": "sam.g.clulow@gmail.com"
  }
}
---

{% extends "layouts/base.njk" %}
{% block content%}
  <article>
    <section class="intro">
      <h1>{{ title }}</h1>
      {% if introduction %}
      <p> {{introduction}} </p> 
      {% endif %}
      <i>{{ date}}</i>
    </section>

    <section class="content" id="content">
    {{ content | safe}}
    </section>

  </article>
{% include 'partials/webmentions.njk' %}
{% endblock %}