{% extends "layouts/base.njk" %}
  {% block content%}

   <section class="intro">
    <h1 >{{title}}:</h1>
  </section>
  
  <section >
    {% for post in collections.posts %}
      {% include 'partials/article-card.njk' %}
    {% endfor %}
  </section>
{% endblock content%}
