{% extends "layouts/base.njk" %}
  {% block content%}
    <article>
      <div class="banner-color hero">
        <div class="wrapper center mw7 pa2 intro">
            <section class="intro tc">
              <h1 class="f1 tc fw9 mb3 mt3 pt3 p-name ">{{ title }}</h1>
              <h2 class="f3 lh-title p-summary">
                {{introduction}}
              </h2> 
              <h4 class="tracked  p-author"> By {{author}} on : {{ date}}</h4>
            </section>
        </div>
      </div>

      <section class="mw7 w-100 center e-content f4 lh-copy link" id="content">
      {{ content | safe}}
      </section>

    </article>
{% endblock %}