:root {
  --color-green:#258585;  
  --color-text-bright: #e6fdfd;
  --color-green-dark: #478565;
  --color-focus: #ffe86f; 
  --color-text: #9bb;
  --color-bg: #213131;
}

.code {
  font-family: monaco;
  background-color: lightgrey;
  width: 100%;
  display: block;
}

html {
  font-family: "Merriweather", serif;
  background: var(--color-bg);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  color: var(--color-text-bright);
}

h2{
  font-size: 3em;
}
h3{
  font-size: 2.5em;
}

nav {
  border-bottom: 0.5rem solid var(--color-green);
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  color: var(--color-text);
  font-weight: 700;
 }
 .c-nav,
 .c-footer{ 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
}
 footer{
  font-family: "Open Sans", Verdana, Geneva, sans-serif;

 }
nav ul,
footer ul {
  display: flex;
  flex-wrap: wrap;
  padding:0;
}
nav li,
footer ul  {
  list-style: none;
}

.c-nav a,
.c-nav a:visited,
.c-footer a {
  color: var(--color-text-bright);
  text-decoration: none;
  padding: .5rem;
  font-size: 1.25rem;
  font-weight: 700;
}
.c-nav a:hover,
.c-nav a:focus,
.c-footer a:hover,
.c-footer a:focus{
  color: var(--color-focus)
}
a {
  color: var(--color-text-bright);
  text-decoration: underline var(--color-text-bright) 2px;
  font-weight: 700;
}

section {
  margin-bottom: 3rem;
  padding-bottom: 2em;
}

a:focus,
a:hover {
  color: var(--color-focus);
  outline: dashed var(--color-focus);;
}

main {
  min-height: 95vh;
  height: 100%;
  padding: 1em;

}
article {
line-height: 1.5;
}
button {
  border: 0.5rem solid var(--color-text);
  line-height: 4rem;
  background-color: inherit;
}
blockquote{
  margin: auto 0;
  padding-left: 1.125em;
  border-left: .125em solid var(--color-green);
}

.boxed-link {
  font-size: 1.5rem;
  margin: 1.5rem;
  color: var(--color-text-bright);
  text-align: center;
}

.article-card {
  border-bottom: .25rem solid var(--color-text);
  padding-bottom: 1.5rem;
  margin-bottom: 2.5rem;
}

.article-card:last-child {
  border-bottom: none;
}

.article-card button {
  border: none;
  background: inherit;
}

.article-card-text {
  flex-grow: 2;
}

p, .content {
  font-size: 1.125rem;
  line-height: 1.8rem; 
}
.content a {
  color: var(--color-text-bright);

}
.content a:visited{
  color: var(--color-text-bright);
}


.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  padding-top: 2rem;
}

em {
  font-family: inherit;
}


.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro{
  display: flex;
  flex-direction: column;
  align-content: center;
  border-bottom: 0.25rem solid var(--color-text-bright);
  line-height: 1.5;
}
.intro h1 {
  font-size: 3rem;
}
.intro p {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
}

footer {
  padding: 1.5rem 0;
  border-top: 3px solid var(--color-text-bright);
  height: 3rem;
}
tr:nth-child(even){
  background-color: #C4DECF;
}

.u-container {
  max-width: 48em;
  margin: 1em auto;
}
.u-flex{
  display: flex;
}
.u-flex-wrap{
  flex-wrap: wrap;
}
.u-flex-row{
  flex-direction: row;
}
.u-flex-column{
  flex-direction: column;
}

.c-book {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 1em ;
}
.c-book > *{ 
  padding-bottom: .5rem;
}