:root {
  --color-bg:#fdfdf6; 
  --color-green-dark: #478565;
  --color-green:#258585;
  --color-text:#253535; 
}

.code {
  font-family: monaco;
  background-color: lightgrey;
  width: 100%;
  display: block;
}

html {
  font-family: "Merriweather", serif;
  background: var(--color-bg);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
}



nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5rem solid var(--color-green);
  font-family: "Open Sans", Verdana, Geneva, sans-serif;
  color: var(--color-text);
  font-weight: 700;
 }
 footer{
  font-family: "Open Sans", Verdana, Geneva, sans-serif;

 }
nav ul,
footer ul {
  display: flex;
  flex-wrap: wrap;
  padding:0;
}
nav li,
footer ul  {
  list-style: none;
}

nav a,
nav a:visited,
footer a {
  color: var(--color-text);
  text-decoration: none;
  padding: .5rem;
  font-size: 1.25rem;
  font-weight: 700;
}

a {
  color: var(--color-text);
  text-decoration: underline;
  font-weight: 700;
}

section {
  padding-bottom: 3rem;
}

a:focus,
a:hover {
  color: var(--color-green-dark);
  outline: dashed var(--color-green);
}

main {
  min-height: 95vh;
  height: 100%;
}

button {
  border: 0.5rem solid var(--color-green-dark);
  line-height: 4rem;
  background-color: inherit;
}

.boxed-link {
  font-size: 1.5rem;
  margin: 1.5rem;
  color: var(--color-green);
  text-align: center;
}

.article-card {
  border-bottom: 1px solid var(--color-green);
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  align-items: flex-start;
}

.article-card:last-child {
  border-bottom: none;
}

.article-card button {
  border: none;
  background: inherit;
}

.article-card-text {
  flex-grow: 2;
}

p, .content {
  font-size: 1.125rem;
  line-height: 1.8rem; 
}
.content a {
  color: var(--color-green);

}
.content a:visited{
  color: var(--color-green);
}


.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  padding-top: 2rem;
}

em {
  font-family: inherit;
}


.hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.e-intro {
  border-bottom: 0.25rem solid var(--color-green);
}
.intro{
  display: flex;
  flex-direction: column;
  align-content: center;
}
.intro h1 {
  font-size: 3rem;
}
.intro p {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  
}

footer {
  padding: 1.5rem 0;
  border-top: 3px solid var(--color-green);
  height: 3rem;
}
tr:nth-child(even){
  background-color: #C4DECF;
}

.u-container {
  max-width: 48em;
  margin: 1em;
}
.u-flex{
  display: flex;
}
.u-flex-wrap{
  flex-wrap: wrap;
}
.u-flex-row{
  flex-direction: row;
}
.u-flex-column{
  flex-direction: column;
}