:root{
	--color-bg: #fafafa;
	--color-green: #64b6ac;
	--color-green-light: #8ec9c2;
	--color-green-dark: #49857e;
	--color-orange: #fbd1a2;
	--color-black: #111111
}

.code{
	font-family:monaco;
	background-color: lightgrey;
	width:100%;
	display:block;
}
html {
	font-family: 'Merriweather', serif;
}

html{
	background: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-green-dark);
	font-family:'Oswald', Verdana, Geneva, sans-serif ;
}
a,
a > * {
	color: var(--color-green);
	text-decoration: underline;		
}
a:visited {
	color: var(--color-green-dark)
}

a:focus,
a:focus > *,
a:hover,
a:hover >* {
	background-color: var(--color-orange);
	color: var(--color-black);
	transition: all 0.1 linear;
}

nav {
	border-bottom: .5rem solid var(--color-green);
}
nav > a, nav ul > a {
	color: var(--color-green-dark);
	font-family:'Oswald', Verdana, Geneva, sans-serif ;

}
main{
	min-height: 95vh;
	height: 100%;
}

button {
	border: .5rem solid var(--color-green-dark);
	line-height: 4rem;
	background-color: inherit;
}

.boxed-link {
	font-size: 1.5rem;
	margin: 1.5rem;
	color: var(--color-green);
	text-align: center;
	
}

.article-card{
	border-bottom: 3px solid var(--color-green-light);
	margin-top: 1rem;
}
.article-card:last-child{
	border-bottom: none;
}
.article-card button {
	border: none;
	background: inherit
}

.article-card-text {
	flex-grow:2;
}
.article-card h2 {
	margin: .5rem 0
}
.article-card .exerpt {
	margin-top: 1rem
}
p, #content{
	font-size: 1rem;
	line-height: 1.7rem;
}

#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	padding-top:2rem;
}

em{
	font-family: inherit;
}

.e-intro{
	border-bottom: .25rem solid var(--color-green-light);
}

.intro h1{
	font-size: 3rem;
}
.intro p{
	color: var(--color-green-dark);
	font-family:'Oswald', Verdana, Geneva, sans-serif ;
}

footer {
	padding: 1.5rem 0;
	border-top: 3px solid var(--color-green-light);
	height:3rem
}

article {
	max-width: 1200px;
	display: grid;
	grid-template-columns: [start] 1rem [gutter-left] 25% [content-start] auto [content-end] 25% [gutter-right]1rem[end];
	grid-template-rows: [start] minmax(25vh, 100% ) [content] auto [footer] 100px [end] ;
	grid-template-areas: 
    "intro intro intro intro intro"
    ". . main side ."
    "footer footer footer footer footer";
}

.e-content {
	grid-column: 3 / 4;
	grid-row: content / footer;
}
.e-intro{
	grid-column: start / end;
	grid-row: start / content;
}