---
title: Bookshelf
layout: layouts/post.njk
slug: bookshelf
introduction    : What I'm reading in 2021 
---
{% block content%}
{%for book in books%}
{{book.title}}
{%endfor%}
{%- set bookList = books -%}
{% include "partials/books.njk" %}
{% endblock %}
