---
permalink: /tags/
---
{% extends "layouts/base.njk" %}
  {% block content%}

  <main >
   <div class="banner-color hero">
      <div class="wrapper center mw7 pa2 intro">
      <h1 class="f1 pa2">Tags:</h1>
      </div>
    </div>
  
    <section class="center mw7 ma2">
      {% for tag in collections.tagList %}
        {% include 'partials/article-list.njk' %}
      {% endfor %}
    </section>
  </main>

{% endblock content%}
