---
pagination:
  data: collections
  size: 1
  alias: tag
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
{% extends "layouts/base.njk" %}
  {% block content%}

  <main >
    <div class="intro">
      <h1>Tagged “{{ tag }}”:</h1>
    </div>
  
    <section>
     {% set taglist = collections[ tag ] %}
      {% for post in taglist | reverse %}
        {% include 'partials/article-card.njk' %}
      {% endfor %}
    </section>
  </main>

{% endblock content%}
