<div class="article-card">
  <h2><a href={{post.url}}> {{post.data.title}} </a> </h2>
  <i> {{ post.data.date }}</i>
  {%if post.data.introduction %}
    <p >{{post.data.introduction}}</p>
  {% endif %}
  
  <span>
    tags:
    {%for tag in post.data.tags%}
      [{{tag}}]
    {%endfor%}   
  </span>
  
</div>