<footer class="mw7 center flex flew-wrap justify-around items-center ">
  <span>© 2020  Sam</span>
    <a title="posts" href="/posts">Posts</a>
    <a title="github page" href="https://github.com/m1rp">Github</a>
    <a title="twitter page" href="https://twitter.com/samclulow">Twitter</a>
    <a title="rss feed" href="/feed.xml">RSS</a>
</footer>
