<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Title" content="📰 - smcllw.me">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.0/css/tachyons.min.css"/>
 
  <style>{% include "src/static/main.css" %}</style>
  <style>{% include "src/static/prism-ally-dark.css" %}</style>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">
  <link rel="canonical" href="https://smcllw.me{{page.url}}"/>  
  {# syndication #}
  <meta name="twitter:creator" content="@samclulow" />
  <meta property="og:url" content="https://smcllw.me{{page.url}}" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:site_name" content="smcclw.me" />

  {%if introduction%}
  <meta property="og:description" content="{{introduction | safe}}" />
  <meta name="twitter:card" content="{{introduction | safe}}" />
  {%endif%}
  
  {%if page.url.includes('post')%}
  <meta property="og:type" content="article" />
  {%elif page.url.includes('til/')%}
  <meta property="og:type" content="small article" />
  {%endif%}
  {%if page.date%}
  <meta property="article:published_time" content="{{page.date}}" />
  {%endif%}
  <title>📰 - {{title}} </title>
</head>
