<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Title" content="📰 - smcllw.me">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.0/css/tachyons.min.css"/>
  <link rel="me" href="https://twitter.com/samclulow">
  <link rel="me" href="mailto:sam.g.clulow@gmail.com">
  <link rel="me" href="mailto:sam.clulow@kreuzwerker.de">
  <link rel="me" href="https://github.com/m1rp">
  <link rel="me" href="https://www.linkedin.com/in/sam-clulow-a2281b83/">
  <style>{% include "src/static/main.css" %}</style>
  <style>{% include "src/static/prism-ally-dark.css" %}</style>
  <link href="https://fonts.googleapis.com/css?family=Oswald:700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,700;1,400&display=swap" rel="stylesheet">  
  <title>📰 - {{title}}</title>
</head>
