<body>
  <header>
    <nav class="mw7 center flex flew-wrap justify-between items-center">
      <a class="pv2 ph1 fl link b f4" href={{"/" | safe}} title="Home">Home</a>
      <ul class="ph1">
        <a class="pa3-ns pa2  link  f4" title="posts" href="/posts">posts</a>
        <a class="pa3-ns pa2 link f4" title="github page" href="https://github.com/m1rp">Github</a>
        <a class="pa3-ns pa2 link f4" title="twitter page" href="https://twitter.com/samclulow">twitter</a>
        <a class="pa3-ns pa2 link f4" title="rss feed" href="{{$.Site.BaseURL}}/index.xml">rss</a>
      </ul>
    </nav>
  </header>

